.sg-nav-link:hover {
    background-color: rgb(71 85 105 / 0.3);
}
.sg-nav-link-active, .sg-nav-link-active:hover {
    /* background: linear-gradient(180deg, #f9fafb21, #e6d2ae0a); */
    background-color: rgba(240, 248, 255, 0.042);
}
.dropdown ul {
  max-height: 0;
  overflow: hidden;
}
.dropdown ul a {
  color: white;
}
#navbar:not(.closed) .dropdown:not(.open) ul {
  transition: max-height 0.25s ease-out;
}
#navbar.closed .dropdown ul li {
  visibility: hidden;
}
#navbar.closed .dropdown.open ul li {
  visibility: visible;
  transition: visibility 0.5s ease-in 0.15s;
}
.dropdown.open ul {
  max-height: 500px;
  transition: max-height 0.5s ease-in;
}
#navbar svg.caret {
  transform: rotate(-90deg);
  transition: transform 0.25s ease-in-out;
}
#navbar svg.caret.up {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}
#navbar {
  width: 20%;
  min-width: 15em;
  transition: width 0.4s ease-in-out, min-width 0.4s ease-in-out,;
}
#navbar.closed {
  width: 80px;
  min-width: 80px;
  transition: width 0.4s ease-in-out, min-width 0.4s ease-in-out,;
}
#navbar img {
  margin-bottom: 0px;
  width: 130px;
  transition: width 0.4s ease-in-out, margin-bottom 0.4s ease-in-out;
}
#navbar.closed img {
  margin-bottom: 30px;
  width: 60px;
  transition: width 0.4s ease-in-out, margin-bottom 0.4s ease-in-out;
}
#navbar svg {
  height: 1em;
  transition: height 0.4s ease-in-out;
}
#navbar.closed svg {
  height: 1.3em;
  transition: height 0.4s ease-in-out;
  position: relative;
  left: 7px;
}
#navbar.closed .caret {
  display: none !important;
}
#navbar.closed .dropdown .title {
  max-width: 0px;
  position: absolute;
  visibility: hidden;
}
#navbar .dropdown .title {
  display: inline-flex;
  overflow: hidden;
  visibility: visible;
  transition: visibility 0.4s cubic-bezier(0.88, -1.56, 1, 0.75);
}
#navbar.closed .dropdown > div {
  padding: 0.9rem .75rem !important;
}
#navbar.closed .dropdown.open {
  position: relative;
}
#navbar.closed .dropdown.open ul {
  z-index: 1000;
  border-radius: 0 6px 6px 0;
  left: 53px;
  padding: 12px;
  top: 8px;
  padding-left: 23px;
  background-color: #2061a7;
  position: absolute;
  list-style-type: disc;
  width: max-content;
}
#navbar.closed .dropdown.open ul li:last-child {
  margin-bottom: 0px !important;
}
#navbar li {
  text-decoration: none;
  position: relative;
  width: fit-content;
}
#navbar a:before,
#navbar a:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0px;
  height: 1px;
  margin: 5px 0 0;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  background-color: white;
  /* left: 0; */
}
#navbar a:before {
  left: 50%;
}
#navbar a:after {
  right: 50%;
}
#navbar li:hover a:before, #navbar li:hover a:after {
  width: 50%;
  opacity: 1;
}