@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Roboto+Slab&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none !important;
}

/* Bootstrap Stylings */
.card {
  border-radius: 0.5em;
  border: 0;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.toast {
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px, rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
  border: unset;
}
:not(.active).list-group-item:hover {
  background-color: rgb(241 245 249);
}
.container .card-header:not(.titolo-pagina) {
  /* background-color: #215cb5; */
  background-color: #449b8d;
  /* background-color: #F18F01; */
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  padding: 0.3em 1em;
  height: fit-content;
  text-shadow: 1px 1px 4px #000;
}
.titolo-pagina h3 {
  text-align: center;
  font-size:30px;
  font-weight:300;
  color:#222; 
  letter-spacing:1px;
  text-transform: uppercase;
  /* display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-gap: 20px; */
  align-items: center;
  padding: 0 5%;
  text-shadow: 1px 1px 1px rgb(181, 198, 209);
  font-weight: 500;
  color: #215cb5;
  font-size: 32px;
}
/* .titolo-pagina h3:after,.titolo-pagina h3:before {
  content: " ";
  display: block;
  border-bottom: 2px solid #215cb5;
  border-top: 2px solid #215cb5;
  height: 8px;
  background-color:#f8f8f8;
} */

.toast-container.fixed {
  position: fixed !important;
}
.bs-popover-start>.popover-arrow::after {
  border-left-color: #f0f0f0;
}

.input-error {
  border-color: #cb444b !important;
}
.input-error:focus {
  box-shadow: 0 0 0 0.25rem rgb(203 68 74 / 25%) !important;
}
.input-success {
  border-color: #198754 !important;
}
.input-success:focus {
  box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%) !important;
}
.bigger-checkbox > input {
  width: 1.3em;
  height: 1.3em;
}
/* .react-select > div:first-of-type {
  background-color: black;
} */
.react-select-invalid > div:first-of-type {
  border-color: #cb444b !important;
}
.react-select-invalid > div:first-of-type:focus {
  box-shadow: 0 0 0 0.25rem rgb(203 68 74 / 25%) !important;
}
.react-select-valid > div:first-of-type {
  border-color: #198754;
}
.react-select-valid > div:first-of-type:focus {
  box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%) !important;
}
.react-select-view > div {
  background-color: #e9ecef;
}

.my-modal-content,
.my-caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

.my-modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.my-modal-close:hover,
.my-modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

input.no-arrows::-webkit-outer-spin-button,
input.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#popover-misurazioni .popover-arrow {
  position: absolute;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 92% 46%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}